{{>header}}

<h1>Change Password</h1>

{{#errors}}
	<div class="alert alert-danger" role="alert">{{error}}</div>
{{/errors}}

<div class="row justify-content-md-center my-10" >
	<div class="col-sm-7">
		<form action="/user/changepassword" method="post" method="post" enctype="application/x-www-form-urlencoded">

			<input type="hidden" name="token" value="{{res.locals.token}}" />
	<!-- if this was triggered from a logged in user include current password field -->
	
			{{#notoken}}
			<div class="form-group row">
				<div class="col-sm-10">
					<input type="password" name="current_password"  class="form-control" placeholder="Current Password" />
				</div>
			</div>
			{{/notoken}}
			<div class="form-group row">
				<div class="col-sm-10">
					<input type="password" name="new_password" class="form-control" placeholder="New Password"/>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-10">
					<input type="password" name="new_password_confirmation" class="form-control" placeholder="Confirm New Password"/>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-10">
					<button type="submit" class="btn btn-primary" >Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>
	
{{>footer}}