<!DOCTYPE html>
<html>
	<head>
    	<title>{{title}}</title>

    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
  		<meta name="description" content="{{description}}">
  		<meta name="keywords" content="{{keywords}}">


  		<link rel="stylesheet" type="text/css" href="/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.min.css" />
  		<link rel="stylesheet" type="text/css" href="/css/shopkins.css" />

  	</head>
 	<body style="height: 100%; min-height: 100%">
 	  <nav class="navbar navbar-toggleable-md navbar-inverse" style="background-color: #6d0077;">
 	  	<a class="navbar-brand" href="/">Shopkins Trading Post</a>
	 	  

	 	 
	  	<div class="collapse navbar-collapse">
		 	<ul class="navbar-nav mr-auto"> 
		     	<li class="nav-item {{#shopkinactive}}active{{/shopkinactive}}">
		     		<a class="nav-link" href="/shopkins/1">Shopkins</a>
		    	</li>
		    	<li class="nav-item {{#myshopkins}}active{{/myshopkins}}">
		     		<a class="nav-link" href="/myshopkins">My Collection</a>
		    	</li>
		    	<li class="nav-item {{#trades}}active{{/trades}}">
		     		<a class="nav-link" href="/trades">Trades</a>
		    	</li>
		    	<li class="nav-item {{#howitworks}}active{{/howitworks}}">
		     		<a class="nav-link" href="/howitworks">How it works</a>
		    	</li>
		    </ul>
	    </div>


	    <ul class="navbar-nav navbar-right">
	     {{#guest}} 
		  
		 	<li class="nav-item">
		     	<a class="nav-link" href="/login">Login</a>
		    </li>
		 	<li class="nav-item">
		     	<a class="nav-link" href="/register">Register</a>
		    </li>
		 
		 {{/guest}}

		 {{#user}}
		 	<li><p class="navbar-text text-nowrap">Welcome {{user.firstname}} {{user.lastname}} | <a href="/logout">Logout</a></p><li>
		 {{/user}}

		 </ul>

 	  </nav>
 	  <div class="container-fluid">

