{{> header}}
<h1>How it Works</h1>

<ol>
	<li>Register</li>
	<li>Add shopkins to your collection by clicking add on shopkins you have, click add for each one even doubles. The number on the card is the number you have, if you accidently add one you can remove it from the my collection page</li>
	<li>Activate Trading by Clicking the Activate Trading switch on the my collection page</li>
	<li>The system automatically tries to find trades for shopkins you don't have yet</li>
	<li>A trade match is found! You will receive an email, you can track trade progress on the trades page</li>
	<li>Mail your shopkin to the trading address</li>
	<li>The trade is verfied, the swap is made, and your new shopkin is sent to you</li>
	<li>Repeat Steps 4 - 8</li>
</ol>

{{> footer}}