{{> header}}
<h1>Shopkins</h1>

<div class="btn-group" role="group" aria-label="Basic example">
  <a role="button" href="/shopkins/1" class="btn btn-secondary">Season 1</a>
  <a role="button" href="/shopkins/2" class="btn btn-secondary">Season 2</a>
  <a role="button" href="/shopkins/3" class="btn btn-secondary">Season 3</a>
  <a role="button" href="/shopkins/4" class="btn btn-secondary">Season 4</a>
  <a role="button" href="/shopkins/5" class="btn btn-secondary">Season 5</a>
  <a role="button" href="/shopkins/6" class="btn btn-secondary">Season 6</a>
  <a role="button" href="/shopkins/7" class="btn btn-secondary">Season 7</a>  
</div>

<div class="container-fluid" style="padding: 0px; margin: 0px;">
{{#shopkins}}
	<div class="card {{rarity}}" style="width: 15rem; display:inline-block;">
	  <div class="count" style="position:absolute; right:0px; top:0px; padding:5px;">
	  	{{count}}
  	  </div>
	  <img class="card-img-top" id="status_{{id}}" src="/images/S{{number}}.png" alt="card image cap" style="width: 100px; height:100px;">
	  <div class="card-block">
	    <h4 class="card-title">{{name}}</h4>
	    <p class="card-text">{{description}}</p>
	    <a href="" class="btn btn-primary add-collection" data-shopkin="{{id}}">Add To Collection</a>
	  </div>
	</div>
{{/shopkins}}
</div>

{{> footer}}