{{> header}}
	<h1>Trades</h1>

	<table>
		<thead>
		  <tr>
		  	<th>
		  	  My Shopkin
 			</th>
 			<th>
 			</th>
 			<th>
 			  Trade For	
 			</th>
		  </tr>
		</thead>
		<tbody>
			{{#currenttrades}}
				<tr>
					<td>
						<img class="card-img-top" src="/images/S{{shopkin1number}}.png" alt="card image" style="width: 80px; height:80px;" />
					</td>
					<td>
						<img class="" id="status_{{id}}" src="/images/{{image}}" alt="initiated" style="" />
					</td>
					<td>
						<img class="card-img-top" src="/images/S{{shopkin2number}}.png" alt="card image" style="width: 80px; height:80px;" />
					</td>
					<td>
					  <button class="accept-trade" data-tradeid="{{id}}">Accept</button>
					</td> 
				<tr>
			{{/currenttrades}}
		</tbody>
	</table>


{{> footer}}