.btn-success, .btn-success:hover {
	background-color: #b861d5;
	border-color: #b861d5;
}

.btn-primary, .btn-primary:hover {
	background-color: #d561a5;
	border-color: #d561a5;
}

.card{
	margin: 5px;
}

.card.Rare{
	border: 1px solid #61d595;
	background-color: #bce3cd;
}

.card.Ultra.Rare{
	border: 1px solid #d561a5;	
	background-color: #d5a0bf;
}


.card.Limited.Edition{
	border: 2px solid #bf9931;	
	background-color: #e7d7ac;
}

.card.Special.Edition{
	border: 1px solid #2772fb;	
	background-color: #aebedb;
}